.trashcan_wrapper{
	margin: auto;
	width:400px;
	height:130px;
}


.basicDiv{
	height:130px;
	width:20%;
	background-image: url(imgs/basic.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	overflow: auto;
	display:inline-block;
}

.plasticDiv{
	height:130px;
	width:20%;
	background-image: url(imgs/recycle_yellow.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	overflow: auto;
	display:inline-block;
}

.landscapeDiv{
	height:130px;
	width:20%;
	background-image: url(imgs/landscape.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	overflow: auto;
	display:inline-block;
}

.non_today{
	display:none;
	}

.pulse{
	-webkit-animation-name: pulsate;
	-webkit-animation-duration: 2s;
	-webkit-animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
 0% { opacity: 0.10}
 10% { opacity: .20}
 20% { opacity: .40 }
 30% { opacity: .60 }
 40% { opacity: .80 } 
 50% { opacity: 1.0}
 60% { opacity: .80}
 70% { opacity: .60}
 80% { opacity: .40}
 90% { opacity: .20}
 100% { opacity: 0.10}
}
